*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--color-bronze:#926239;
	--color-white: white;
	--font-size-17: 17px;
}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: var(--color-white);
	font-size: var(--font-size-17);
	text-align: center;
	line-height: 1.6;
}

.bg-color-bronze{
	background-color: var(--color-bronze);
}

.tc-bronze{
	color: var(--color-bronze);
}

/* Header style start */

.header{
width: 100%;
height: 100vh;
padding: 35vh 0;
background-image: url("../img/beachshowcase.jpg");
background-size: cover;
background-position: center;
}

.header-title{
	font-size: 50px;
	font-weight: 700;
}

.header-text{
	font-size: 20px;
	margin-bottom: 20px;
}

.header-btn-link{
	display: inline-block;
	padding: 10px 20px;
	border: var(--color-bronze) 1px solid;
	border-radius: 10px;
	text-decoration: none;
	color: var(--color-bronze);
}

.header-btn-link:hover{
	color: var(--color-white);
	background-color: var(--color-bronze);
}
/* header style end */

/* main style start */

.bc-color--milk{
	background-color: #F4F4F4;
}

.info-desc{
	padding: 20px;
}

.info-fs{
	font-size: 0;
}

.wrapper-item{
	display: inline-block;
	font-size: var(--font-size-17);
	width: 33.333%;
}
/* main style end */