*{
	box-sizing: border-box;
	font-size: 0;
}

body{
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	color: #926239;
	line-height: 1.6;
}

/* Header style start */
.header{
width: 100vw;
height: 100vh;
padding: 392px 0;
background-image: url(/assets/img/beachshowcase.jpg);
background-size: cover;
background-position: center;
text-align: center;
}

.header__title{
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
}

.header__text{
	font-size: 20px;
}

.header__btn{
	margin-top: 20px;
}

.header__btn-link{
	padding: 10px 20px;
	border: #926239 1px solid;
	border-radius: 10px;
	color: #926239;
	font-size: 18px;
	text-decoration: none;
}

.header__btn-link:hover{
	color: white;
	background-color: #926239;
}
/* header style end */

/* main style start */
.info,
.info__item-1,
.info__item-2,
.info__item-3{
	padding: 20px;
	text-align: center;
} 

.info--block-1,
.info--block-3 > .info__item-1,
.info--block-3 > .info__item-3{
	background-color: #926239;
	color: white;
	font-size: 17px;
}

.info--block-2 > .info__description{
	border-color: #F4F4F4;
	color: #926239;
	font-size: 17px;
}

.info--block-3 > .info__item-2{
	border-color: #F9F9F9;
	color: #926239;
	font-size: 17px;
}

.info--block-3{
	width: 100vw;
	padding: 0;
}

.info__item-1,
.info__item-2,
.info__item-3{
	display: inline-block;
	width: 33.3vw;
}
/* main style end */